<main class="window-content">
  <div class="profile">
    <div class="profile-picture">
      <img src="Foto-Perfil.png" alt="Franco Gabrielleschi" />
    </div>
    <div class="profile-info">
      <h1>Franco Martin Gabrielleschi</h1>
      <h2>Analista de sistemas - Desarrollador Fullstack</h2>
    </div>
  </div>

  <hr />

  <h2 class="text">Sobre mí</h2>
  <p>
    Analista en Sistemas y Analista Funcional con experiencia en relevamiento de
    requerimientos, redacción de historias de usuario y modelado UML. Trabajo
    con metodologías ágiles (Scrum), utilizando herramientas como Jira y Trello
    para gestionar proyectos y optimizar la entrega de soluciones.
  </p>
  <br>
  <p>Cuento con sólidos conocimientos en desarrollo web:</p>
  
    <p><strong>Frontend:</strong> HTML, CSS, JavaScript, TypeScript, Angular, React</p>
    <p><strong>Backend:</strong> Node.js, Express, MySQL</p>
    <p><strong>ORMs:</strong>ORMs: Sequelize (SQL), Mongoose (MongoDB)</p>
    <p><strong>Control de versiones:</strong> Git y GitHub</p>
  
<br>
  <p>
    Me destaco por mi comunicación efectiva, orientación a soluciones y
    compromiso con la innovación tecnológica. Estoy en constante formación,
    buscando adaptarme a las demandas del sector y aportar valor mediante el
    desarrollo de soluciones eficientes y escalables.
  </p>

  <hr />

  <p><strong>Podes encontrarme en:</strong></p>
  <div class="redes">
    <a href="https://www.linkedin.com/in/francogabrielleschi/" target="_blank"
      ><i class="fa-brands fa-linkedin icon"></i
    ></a>
    <a href="https://github.com/franmarg92" target="_blank"
      ><i class="fa-brands fa-github icon"></i
    ></a>
  </div>
</main>
