<main class="window-content">
    <div class="profile">
        <div class="profile-picture">
            <img src="IMG_4549.jpeg" alt="Franco Gabrielleschi">
        </div>
        <div class="profile-info">
            <h1>Franco Gabrielleschi</h1>
            <h2>Analista de sistemas, Desarrollador Fullstack</h2>
        </div>
    </div>

    <hr>

    <h2 class="text">Sobre mí</h2>
    <p>
        Soy Analista en Sistemas con experiencia en relevamiento de requerimientos, modelado con UML, y conocimientos en desarrollo web (HTML, CSS, JavaScript, TypeScript y Angular) para manejo de front end, y (MySQL, Node, Express) para manejo de backend. Me destaco por mi buena comunicación, enfoque en soluciones eficientes y capacidad para trabajar en equipos multidisciplinarios. Poseo conocimientos en Git y GitHub para control de versiones, así como en metodologías ágiles como Scrum y Kanban. Siempre en constante capacitación, buscando innovar y adaptarme a las demandas tecnológicas.
    </p>

    <hr>

    <p><strong>Podes encontrarme en:</strong> </p>
    <div class="redes">
        <a href="https://www.linkedin.com/in/franco-gabrielleschi-2573641a0/" target="_blank"><i class="fa-brands fa-linkedin icon"></i></a>
        <a href="https://github.com/franmarg92" target="_blank"><i class="fa-brands fa-github icon"></i></a>
    </div>
    
    
</main>
