<main class="window-content">
  <div class="container">
   
    <div class="contact-info">
      <h3>Datos de contacto:</h3>
      <div class="contact-item">
        <i class="fa-solid fa-phone"></i>
        <p>+54 351 7442205</p>
      </div>
      <div class="contact-item">
        <i class="fa-solid fa-envelope"></i>
        <p>gabrielleschifranco&#64;gmail.com</p>
      </div>
      <div class="contact-item">
        <i class="fa-solid fa-location-dot"></i>
        <p>Córdoba, Argentina</p>
      </div>
    </div>
   
    <div class="contact-form">
      <h3>Escríbeme:</h3>
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese su correo">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Mensaje</label>
        <textarea class="form-control" id="message" rows="3" placeholder="Escriba su mensaje"></textarea>
      </div>
      <button class="btn btn-primary">Enviar</button>
    </div>
  </div>
</main>
