/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
 
  .contact-info {
    flex: 1;
    max-width: 300px;
  }
  
  .contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .contact-item i {
    color: #007bff;
    font-size: 1.2rem;
  }
  
  .contact-item p {
    margin: 0;
    font-size: 1rem;
    color: #555;
  }
  
  
  .contact-form {
    flex: 2;
  }
  
  .contact-form h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 0.9rem;
    color: #333;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .form-control:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
 
  .window-content {
    flex: 1;
    padding: 15px;
    overflow-y: auto; 
    background-color: #ffffff;
    border: 2px solid #808080;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #478464, #0d381e, #74d87e);
  background-size: 300% 300%;
  animation: gradientMove 5s infinite;
}

@keyframes gradientMove {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  