<main class="window-content">

    <section class="studies">
        <h2>Experiencia Laboral</h2>
        <ul class="study-list">
          
          <li>
            <h3>Conductor Guarda</h3>
            <p><strong>Empresa:</strong> Coniferal S.A</p>
            <p><strong>Año:</strong> 2013 - Actualidad</p>
            <p>Conductor de Transporte publico de pasajeros</p>
          </li>
            <li>
            <h3>Coach de crossfit</h3>
            <p><strong>Empresa:</strong> Briskbox</p>
            <p><strong>Año:</strong> 2023 - 2024</p>
            <p>Coach de crossfit manejo y armado de clases</p>
          </li>
      
         
        </ul>

        <br>
        <h2>Experiencia IT</h2>

        <ul class="study-list">
          <li>
            <h3>Analista en sistemas</h3>
            <p><strong>Empresa:</strong> Santeria Belen</p>
            <p><strong>Año:</strong> 2024</p>
            <p>Relevamiento de requerimientos y documentación de procesos.</p>
            <p>Modelado de procesos utilizando diagramas UML.</p>
            <p>Diseño de modelo de datos para estructurar la información.</p>
            <p>Desarrollo de aplicación en appsheet.</p>
          </li>
      
          
          <li>
            <h3>Full Stack Developer</h3>
            <p><strong>Empresa:</strong> Xacademy - Santex</p>
            <p><strong>Año:</strong> 2024</p>
            <p>Desarrollo de funcionalidades frontend y backend en equipo ágil.</p>
            <p>Aplicación de tecnologías modernas en proyecto colaborativo.</p>
            <p>Desarrollo de sitio web de cursos para incubadora del noc</p>
            <p><a href="https://github.com/ProyectoXAcademy/IncubadoraNOC" target="_blank">Incubadora del NOC</a></p>
          </li>
            

        </ul>
      </section>
</main>
