<main class="window-content">
    <div class="img-conteiner">
        <div>
            <img src="html-5.png" alt="html">
        </div>
        <div>
            <img src="css-3.png" alt="css">
        </div>
        <div>
            <img src="java-script.png" alt="java-script">
        </div>
        <div>
            <img src="Typescript_logo_2020.svg.png" alt="Typescript">
        </div>
        
        <div>
            <img src="angular.png" alt="angular">
        </div>
        <div>
            <img src="React.svg.png" alt="React">
        </div>
       
        <div>
            <img src="node.png" alt="node">
        </div>
         <div>
            <img src="mysql.png"  alt="mysql">
        </div>
        <div>
            <img src="github-sign.png" alt="github">
        </div>
        <div>
            <img src="bootstrap.png" alt="bootstrap">
        </div>
    </div>
</main>
