<main class="window-content">
    <div class="img-conteiner">
        <div>
            <img src="html-5.png" alt="">
        </div>
        <div>
            <img src="css-3.png" alt="">
        </div>
        <div>
            <img src="java-script.png" alt="">
        </div>
        <div>
            <img src="Typescript_logo_2020.svg.png" alt="">
        </div>
        <div>
            <img src="bootstrap.png" alt="">
        </div>
        <div>
            <img src="angular.png" alt="">
        </div>
        <div>
            <img src="mysql.png" alt="">
        </div>
        <div>
            <img src="node.png" alt="">
        </div>
        <div>
            <img src="github-sign.png" alt="">
        </div>
    </div>
</main>
