<main class="window-content">

    <section class="studies">
        <h2>Estudios</h2>
        <ul class="study-list">
          <!-- Estudio 1 -->
          <li>
            <h3>Analista Universitario de Sistemas Informáticos</h3>
            <p><strong>Institución:</strong> Escuela Superior de Comercio Manuel Belgrano</p>
            <p><strong>Año:</strong> 2020 - 2024</p>
          </li>
      
          <!-- Estudio 2 -->
          <li>
            <h3>Frontend Developer</h3>
            <p><strong>Institución:</strong> Desafío Latam</p>
            <p><strong>Año:</strong> 2024</p>
          </li>
      
          <!-- Estudio 3 -->
          <li>
            <h3>Full Stack Developer</h3>
            <p><strong>Institución:</strong> Xacademy - Santex</p>
            <p><strong>Año:</strong> 2024</p>
          </li>
        </ul>
      </section>
</main>
