<main class="window-content">

    <section class="studies">
        <h2>Estudios</h2>
        <ul class="study-list">
          
          <li>
            <h3>Analista Universitario de Sistemas Informáticos</h3>
            <p><strong>Institución:</strong> Escuela Superior de Comercio Manuel Belgrano</p>
            <p><strong>Año:</strong> 2020 - 2025</p>
          </li>
      
         
        </ul>

        <br>
        <h2>Cursos</h2>

        <ul class="study-list">
          <li>
            <h3>Frontend Developer</h3>
            <p><strong>Institución:</strong> Desafío Latam</p>
            <p><strong>Año:</strong> 2024</p>
          </li>
      
          
          <li>
            <h3>Full Stack Developer</h3>
            <p><strong>Institución:</strong> Xacademy - Santex</p>
            <p><strong>Año:</strong> 2024</p>
          </li>
             <li>
            <h3>Analista Funcional</h3>
            <p><strong>Institución: </strong> Escuela de Innovación & Tecnología - Junín </p>
            <p><strong>Año:</strong> 2024</p>
          </li>
             <li>
            <h3>Scrum master - Product owner</h3>
            <p><strong>Institución:</strong> Udemy</p>
            <p><strong>Año:</strong> 2025</p>
          </li>

        </ul>
      </section>
</main>
