body{
    background-image: url('https://external-preview.redd.it/2zWEQTXrsDTLogc0jZFkglVY2Z26x0WOGRsGgzN9nH4.png?auto=webp&s=4934e5b90328e18f57f3ad51cbbbc4db514443e2');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}